<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new item</title>
</head>

<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form action="" method="post">
                {% csrf_token %}
                <!-- <input type="text" name="task">
                <input type="text" name="Due Date">
                <input type="checkbox" name="is_completed">
                <select name="list" id="">
                    {% for name_list in items %}
                    {{name_list.name}}
                    {% endfor %}
                </select> -->
                {{form.as_p}}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>

</html>
