<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ list_detail.name }}</h1>
            <div>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create</a>
                </p>
                <p>
                    <a href="{% url 'todo_list_update' list_detail.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'todo_list_delete' list_detail.id %}">Delete</a>
                </p>
            </div>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in list_detail.items.all %}
                    <tr>
                        <td>{{ task.task }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>
                            <a href="{% url 'todo_item_update' task.id %}">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
