<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <div>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create a new list</a>
                </p>
                <p>
                    <a href="{% url 'todo_item_create'%}">Create a new item</a>
                </p>
                <!-- {% for name in todo_list %}
                <p>
                    <a href="{% url 'todo_list_update' name.id %}">Edit</a>
                </p>
                {% endfor %} -->
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name in todo_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' name.id %}">{{ name.name }}</a></td>
                        <td>{{ name.items.all.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>
